<template name="productConfigurator">
    <div class="block-flat">

        <form id="productConfigurator"  class="main form">

    {{#each productCats}}
        <div class="header">
            <h5>{{name}}</h5>
        </div>


        <div class="content">
            <table class="table table-hover no-border">
                <thead class="no-border">
                <tr>
                    <th style="width:70%;">Product</th>
                    <th style="width:10%;">Price</th>
                    <th class="text-right">Choice</th>
                </tr>
                </thead>
                <tbody class="no-border-y">
                {{#each productsOfferings name}}
                <tr>
                    <td><strong>{{name}}</strong><br /> {{description}} </td>
                    <td>$ {{cost}} </td>
                    <td class="text-right"><input class="icheck" data-size="small" required parsley-type="radio"  name="{{productCategory}}" value="{{_id}}" type="radio">

                    </td>
                </tr>
                {{/each}}
                </tbody>

            </table>
        </div>
    {{/each}}
            <!--
        <button type="button" align="right" class="btn btn-success addCart">Add</button>

        <input placeholder="Qty" class="input input-mini prodqty" value="0"/><a class="btn btn-success btn-mini addcart" href="#">Add</a>
            -->
        <input type="submit" value="Add" class="btn btn-group-xs btn-primary"/>


        </form>


    </div>




</template>