<template name="productItem2">
    <div class="post">
        <div class="post-content">
            <h3>{{name}}</h3>
            <P>
                <span class="label label-primary"> Category:</span> {{productCategory}}
            </P>
            <p>
                Description:  {{description}}
            </p>
            <p>



                Cost:  {{cost}} / Loaded Cost:  {{loadedCost}}
            </p>
            <p> <button type="button" class="btn btn-primary btn-xs">Edit</button>  <button type="button" class="btn btn-danger btn-xs">Delete</button></p>
        </div>
    </div>
</template>