<template name="serverItem">
    <div class="post">
        <div class="post-content">
            <h3>{{name}}</h3>
            <P>
                <span class="label label-primary"> Server Offering:</span> {{serverOffering}}
            </P>
            <p>
                {{chassis}}
            </p>
            <p>
                {{operatingSystem}}
            </p>

            <p> <button type="button" class="btn btn-primary btn-xs">Edit</button>  <button type="button" class="btn btn-danger btn-xs">Delete</button></p>
        </div>
    </div>
</template>