.main-wrap {
  margin-top: 70px
}

.post-content {
  .glyphicon {
    font-size: 12px;
    margin-right: 10px;
  }
}

.navbar {
  background-color: #1E86A5;
}

.accordion.accordion-semi .panel-heading a {
  background-color: #1E86A5;
  border-color: #111724;
  
  
}

.btn-primary {
  background-color: #8AC640 ;
  border-color: #8AC640;
}
