<template name="driverSubmit">

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group accordion accordion-semi" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#ac3-2">
                                <i class="fa fa-angle-right"></i> Driver Add
                            </a>
                        </h4>
                    </div>
                    <div id="ac3-2" class="panel-collapse collapse in">
                        <div class="panel-body">

                          {{> quickForm collection="ProductDrivers" id="insertDriverForm" type="insert"}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>