<template name="proposalSummary">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h5>Proposal Summary</h5>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        {{#each servers}}
                            <div class="label label-default">
                                {{name}}
                            </div>
                        <table class="table no-border hover">
                            <thead class="no-border">
                            <tr>
                                <th style="width:2%;"><strong>Type</strong></th>
                                <th style="width:30%;"><strong>Name</strong></th>
                                <th class="text-right"><strong>Price</strong></th>
                                <th style="width:15%;" class="text-center"><strong>Action</strong></th>
                            </tr>
                            </thead>
                            <tbody class="no-border-y">
                            {{#each this.productsInServer}}



                                <tr>
                                    <td>{{productCategory}}</td>
                                    <td>{{productName}}</td>
                                    <td class="text-right color-success">{{productCost}}</td>

                                    <td class="text-center"><a class="label label-default" href="#"><i class="fa fa-pencil"></i></a> <a class="label label-danger" href="#"><i class="fa fa-times"></i></a></td>
                                </tr>



                            {{/each}}

                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td class="text-right color-success"><strong>$ {{totalServerPrice}}</strong></td>

                                <td class="text-center"><a class="label label-default" href="#"><i class="fa fa-pencil"></i></a> <a class="label label-danger" href="#"><i class="fa fa-times"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block-flat">
        <div class="header">
            <h2>Deal Summary</h2>
        </div>
        <div class="content">
            <table class="no-border">
                <thead class="no-border">
                <tr>
                    <th style="width:40%;"></th>
                    <th class="text-center">12 Months</th>
                    <th class="text-center primary-emphasis">24 Months</th>
                    <th class="text-center">34 Months</th>
                </tr>
                </thead>
                <tbody class="no-border-y">
                <tr>
                    <td>Server 1</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    <td class="text-center primary-emphasis"><i class="fa fa-check"></i></td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Server 1</td>
                    <td class="text-center"><i class="fa fa-times"></i></td>
                    <td class="text-center primary-emphasis"><i class="fa fa-check"></i></td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Server 1e</td>
                    <td class="text-center">10 GB</td>
                    <td class="text-center primary-emphasis">100 GB</td>
                    <td class="text-center">1 TB</td>
                </tr>
                <tr>
                    <td>Add On Service</td>
                    <td class="text-center">0</td>
                    <td class="text-center primary-emphasis">50</td>
                    <td class="text-center">100</td>
                </tr>
                <tr>
                    <td>Free Support</td>
                    <td class="text-center"><i class="fa fa-times"></i></td>
                    <td class="text-center primary-emphasis"><i class="fa fa-times"></i></td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td class="text-center">$20 / Month</td>
                    <td class="text-center primary-emphasis-dark">$50 / Month</td>
                    <td class="text-center">$100 / Month</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</template>
