<template name="proposalSummary">





    <div class="row">
        <div class="col-md-12">
            <div class="panel-group accordion accordion-semi" id="accordion3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#propsum">
                                <i class="fa fa-angle-right"></i> Proposal Summary
                            </a>
                        </h4>
                    </div>
                    <div id="propsum" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                                {{#each servers}}
                                <div type="button" class="btn btn-primary" style="display:block" data-toggle="collapse" data-target="#propsum{{_id}}">{{name}} - ${{totalServerPrice}}</div>   <!-- this is the unique id for each row -->
                                <div class="collapse" id="propsum{{_id}}">
                                    <table class="table no-border hover">
                                        <thead class="no-border">
                                            <tr>
                                                <th style="width:2%;"><strong>Type</strong></th>
                                                <th style="width:30%;"><strong>Name</strong></th>
                                                <th class="text-right"><strong>Price</strong></th>

                                            </tr>
                                        </thead>
                                        <tbody class="no-border-y">
                                            {{#each this.productsInServer}}
                                            <tr>
                                                <td>{{productCategory}}</td>
                                                <td>{{productName}}</td>
                                                <td class="text-right color-success">{{productCost}}</td>
                                            </tr>
                                            {{/each}}

                                            <tr>
                                                <td><strong>Total</strong></td>
                                                <td></td>
                                                <td class="text-right color-success"><strong>$ {{totalServerPrice}}</strong></td>


                                            </tr>
                                        </tbody>
                                    </table></div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row">
        <div class="col-md-12">
            <div class="block-flat ">
                <div class="header">
                    <h4>Cost Summary</h4>
                </div>
                <div class="content">
                    <table class="no-border">
                        <thead class="no-border">
                        <tr>
                            <th style="width:20%;"></th>
                            <th class="text-center">12 Months</th>
                            <th class="text-center primary-emphasis">24 Months</th>
                            <th class="text-center">36 Months</th>
                        </tr>
                        </thead>

                        <tbody class="no-border-y">
                        {{#each servers}}
                            <tr>
                                <td>{{name}}</td>
                                <td class="text-center">${{divTotal totalServerPrice 12}}</td>
                                <td class="text-center primary-emphasis-dark">${{divTotal totalServerPrice 24}}</td>
                                <td class="text-center">${{divTotal totalServerPrice 36}}</td>
                            </tr>

                        {{/each}}
                        <!-- TODO: Calculate actual totals here -->
                        <tr class="success-emphasis-dark">
                            <td><Strong>Total</Strong></td>
                            <td class="text-center">$986</td>
                            <td class="text-center primary-emphasis-dark">$493</td>
                            <td class="text-center">$328</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    </template>
